.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 5%;
    color: var(--sub-color-theme);
    font-weight: 500;
}

.pagination br{
    display: none;
}

.pagination span{
    font-weight: 500;
}

.pagination-sort{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: .3rem .5rem .3rem 1rem;
    background-color: var(--sub-color-theme);
    color: white;
    font-weight: 400;
    font-size: .9rem;
    border-radius: 2rem;
    cursor: pointer;
}

.pagination-sort > svg{
    rotate: -90deg;
    width: 1.5rem;
}