#hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 5rem;
    background: linear-gradient(180deg, #b6acd2, #dda4e646 98%);
}

#hero-container p{
    font-size: 1.3rem;
    color: white;
}

#hero-container hr{
    color: white;
}

#hero-container  h1{
    font-size: 3rem;
    margin: 1rem 0;
    color: white;
    /* -webkit-text-stroke: 1px #000; */
}

#hero-container button{
    padding: 1rem 2rem;
    border-radius: 2rem;    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#hero-container button > img{
    margin-left: 1rem;
}

.honeyImg2{
    height: 60rem;
    object-fit: contain;
}

@media screen and (max-width: 1120px){
    #hero-container{
        padding: 0 5rem ;
    }    
    .honeyImg2{
        height: 70rem;
        object-fit: contain;
    }
    #hero-container p, hr{
        display: none;
    }
}

@media screen and (max-width: 966px) {
    #hero-container h1{
        font-size: 2.2rem;
    }
    .honeyImg2{
        height: 100%;
    }
}

@media screen and (max-width: 834px) {
    #hero-container h1{
        font-size: 2rem;
    }
    #hero-container button > img{
        display: none;
    }
}

@media screen and (max-width: 650px) {
    #hero-container h1{
        font-size: 1.6rem;
    }
    #hero-container button > img{
        display: none;
    }

    #hero-container button{
        padding: .5rem 1.5rem;
        border-radius: 2rem;    font-size: 1.1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    .honeyImg2{
        height: 70vh;
        object-fit: contain;
        /* position: absolute; */
        /* z-index: -1; */
    }
}