.news-letter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--margin-sections);
    background: linear-gradient(180deg, #b6acd2, #dda4e646 98%);
}

.news-letter h1{
    font-size: 3rem ;
    color: white;
}
.news-letter p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: white;
}

.news-letter-email-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.news-letter div > input{
    height: 4rem;
    border-radius: 2rem;
    border: none;
    font-size: 1rem;
    text-align: center;
    outline: none;
    width: 15rem;
}

.news-letter div > button{
    height: 4rem;
    background-color: black;
    width: 15rem;
    color: white;
    text-align: center;
    font-size: 1rem;
    border-radius: 2rem;
    cursor: pointer;
}
.news-letter div > button:active{
    transform: translateY(4px);
}

@media screen and (max-width: 570px) {
    .news-letter-email-container{
        display: flex;
        flex-direction: column;
        gap: .2rem;
    }

    .news-letter{
        text-align: center;
        padding: 5rem 2rem;
    }
}