
.shop-category-banner{
    width: 100%;

    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    pointer-events: none; /* Additional property to prevent drag */

}

.shop-category-index-sort{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 10%;
}


.shop-category-index-sort p{
    color: grey;
}

.shop-category-index-sort p span{
    font-weight: 600;
    color: black;
}

.shop-category-products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
    gap: .5rem;
}


.explore-more-button > button{
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: white;
    background-color: #e7b1ee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
}

.explore-more-button > button:hover{
    background-color: #eab9f0;
    color: #a347afab;
}
.explore-more-button > button:active{
    transform: translateY(4px);
}



@media screen and (max-width: 500px) {
    
    .shop-category-index-sort p{
        text-align: start;
    }
}