.navbar{
    padding: 1.5rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px -2px black;
    box-sizing: border-box;
    z-index: 1000;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
}

.nav-logo{
    display: flex;
    align-items: center;
    color: var(--main-color-theme);
    font-size: clamp(1.5rem, 1.5vw, 3rem);
    font-weight: 900;
    gap: 20px;
    font-family: "Playwrite AU SA", cursive;
}
.nav-logo:hover{
    color: var(--sub-color-theme);
}

.nav-logo-link{
    text-decoration: none;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
    box-sizing: border-box;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.nav-menu li a{
    text-decoration: none;
}

.nav-menu li:hover{
    transform: scale(1.1);
}
/* 
    .nav-menu li a:active{
        color: var(--main-color-theme);
        transform: scale(1.2);
    } */

.nav-menu .active {
    font-weight: 700;
    color: rgb(207, 173, 213);
    transform: scale(1.3);
    transition: 300ms ease-in-out;
    border-bottom: 5px dotted rgb(207, 173, 213); /* Optional: add a bottom border */
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-login-cart img{
    height: 3rem;
}

.nav-login-cart button {
    border: none;
    padding: 1.5rem 3rem;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: all 450ms ease-in-out;
}

.nav-login-cart a{
    text-decoration: none;
}
.nav-cart{
    display: flex;
    align-items: center;
}


.text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: medium;
}

.nav-login-cart button:hover {
    background: linear-gradient(0deg,#e7b1ee,#d86de7);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #d86de7;
    transform: translateY(-2px);
}

.nav-login-cart button:hover .text {
    color: white;
}

.nav-login-cart button:active{
    transform: translateY(4px);
}

.nav-dropdown, .nav-br{
    display: none;
}


@media screen and (max-width: 970px) {
    .nav-login-cart button {
        padding: 1rem 1.5rem;
    }

    .nav-menu{
        gap: 1.8rem;
        transition: 500ms ease-in-out;  
    }

    .nav-br{
        display: block;
    }

    .nav-logo{
        border: 2px dotted #805d97;
        padding: .3rem;
        animation: fadeIn 1s ease-in-out;
    }
}


@media screen and (max-width: 620px) {
    .nav-dropdown{
        display: block;
        object-fit: contain;
        width: 2.5rem;
        cursor: pointer;
        transition: transform 0.3s ease-in;
        animation: fadeIn 0.5s ease-in-out;
    }

    .nav-menu{
        display: none;
        position: absolute;
        justify-content: center;
        top: 6rem;
        height: 4rem;
        width: 100%;
        background: rgba(255, 255, 255, 0.616);
        backdrop-filter: blur(10px);
        transition: 1000ms ease-in-out;
        z-index: -1;
    }

    .nav-menu-visible{
        display: flex;
        transition: 400ms ease-in-out;
    }

    .nav-dropdown.open{
        transition: 400ms ease-in-out;
        transform: rotate(90deg);
    }

    .navbar{
        padding: 1rem 0;
        justify-content: space-around;
    }
}

@media screen and (max-width: 350px) {
 /* .nav-logo{
    font-size: 15px
 } */
 .nav-menu{
    top: 4.8rem;

 }
}