.dropdown-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1.5rem 0;
    cursor: pointer;
}

.arrow-icon{
    object-fit: contain;
    width: 2rem;
    /* rotate: 90deg; */
    transition: transform 0.3s;
}

.arrow-icon.rotated {
    transform: rotate(180deg);
  }

.dropdown-content {
    padding: 2rem;
    background-color: #f7f7f7;
    margin-bottom: 1rem;
    transition: all 1s;
    line-height: 1.5rem;
}
.dropdown-content p{
    text-align: start;
}

.dropdown-content ul{
    margin: 1rem 0 0 5rem;
}
.dropdown hr{
    /* color: rgb(167, 163, 163); */
    background-color: rgb(167, 163, 163);
    height: 2px;
    border: none;
}

.dropdown-flex{
    display: flex;
    align-items: center;
    gap: 10px
}