#intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 10% 0;
    background: linear-gradient(180deg, #b6acd2, #dda4e646 98%);
    min-height: 85vh;
}

.intro-p{
    font-size: 1.3rem;
    color: white;
    text-align: start;
}

#intro hr{
    color: white;
}

.intro-quote{
    font-size: 3rem;
    margin: 1rem 0;
    color: white;
    /* -webkit-text-stroke: 1px #000; */
}

.intro-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEEDEB;
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    border: 2px solid black;
    color: rgb(51, 51, 51);
    font-size: 1.5em;
    font-weight: 500;
}
.intro-button:hover{
    background-color: rgb(212, 212, 212);
}

/* #intro button{
    padding: 1rem 2rem;
    border-radius: 2rem;    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
} */


.honeyImg2{
    width: 20vw;
    min-width: 16rem;
    object-fit: contain;
}

.intro-hr{
    display: none;
}

@media screen and (max-width: 950px) {
    .intro-quote{
        font-size: 2.2rem;
    }

    .intro-p{
        font-size: 1rem;
    }

    .hero-button{
        margin: 0 auto;
    }
}

@media screen and (max-width: 595px) {
    .honeyImg2{
        display: none;
    }

    .intro-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .intro-p{
        text-align: center;
                margin-bottom: .5rem;
    }

    #intro{
        height: 60vh;
        padding-top: 0;

    }

    .intro-hr{
        display: block;
        border: 0;
        height: 2.6px;
        width: 90%;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
      }
}