/* #intro{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hanzy-intro-img{
    width: 90%;
} */

#intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 10% 0;
    background: linear-gradient(180deg, #b6acd2, #dda4e646 98%);
    min-height: 85vh;
}

.intro-p{
    font-size: clamp(1rem, 1vw, 3rem);
    color: white;
    text-align: start;
    font-family: "Playwrite AU SA", cursive;
    animation: fadeIn 1.5s ease-in-out;
}

.intro-hr-1{
    color: white;  
    margin-top: .3rem;
    height: 3px; 
    border: none;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
    animation: fadeIn 1.5s ease-in-out;
} 



.intro-quote{
    font-size: clamp(2.5rem, 3vw, 4rem);
    margin: 1rem 0;
    color: white;
    font-family: "Playwrite AU SA", cursive;
    animation: fadeIn 1.5s ease-in-out;
}

.intro-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeedeb5d;
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    border: 2px solid var(--sub-color-theme);
    color: rgb(75, 74, 74);
    font-size: clamp(1rem, 1vw, 3 rem);
    font-weight: 500;
    animation: scaleInFromLeft 1s ease-in-out;
}
.intro-button:hover{
    background-color: rgb(212, 212, 212);
}

.honeyImg{
    width: 22vw; 
    min-width: 20rem;
    object-fit: contain;
    animation: fadeIn 1.5s ease-in-out;

}

.intro-hr-2{
    display: none;
}

@media screen and (max-width: 1300px) {
    .intro-p{
        /* font-size: 1rem; */
    }

    .hero-button{
        margin: 0 auto;
    }
}

@media screen and (max-width: 870px) {
    .honeyImg{
        display: none;
    }

    .intro-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        animation: fadeIn 1s ease-in-out;

    }
    .intro-p{
        text-align: center;
        margin-bottom: .5rem;
    }

    .intro-button{
        margin-top: 3rem;

    }
    #intro{
        height: 60vh;
        padding-top: 0;

    }
       .intro-hr-2{
        display: block;
        border: 0;
        height: 2.6px;
        width: 90%;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
        animation: fadeIn 1s ease-in-out;
    }
}


@keyframes scaleInFromLeft {
    from{
        opacity: 0;
        filter: blur(1px);
        /* scale: 0.5; */
        transform: translateX(-100%);
        filter: blur(5px);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0);
    }
}