:root{
    --phone-title-font: clamp(35px, 3vw, 50px);
    --margin-sections: 5rem 0;
    --main-color-theme: #774697d5;
    --sub-color-theme: rgb(176, 152, 179);
}


.title{
  font-size: var(--phone-title-font);
  text-align: center;
  font-weight: 900;
  font-family: "Playwrite AU SA", cursive;
  border-bottom: 1px dotted var(--main-color-theme);
  border-bottom-width: 5px;
  color: var(--main-color-theme);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeItems {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes effect {

    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

@keyframes marginAnimation {
  0% {
    margin: 2rem 5%;
  }

  100% {
    margin: 2rem 2%; 
  }
}

