.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--margin-sections);
    overflow: hidden;
}

.popular-item-container{
    display: flex;
    place-items: center;
}

.arrow-icon-svg{
    cursor: pointer;
    fill: var(--main-color-theme);
    width: clamp(1.5rem, 2vw, 2rem);
}

.popular-items{
    margin: 2rem 1rem;
    display: flex;
    gap: .5rem;                 /*Gap for the items*/
    width: 70vw;
    overflow-x: scroll;
    scroll-behavior: smooth; 
}

.popular-items::-webkit-scrollbar{
    display: none;
}

.popular-items .item{           /*The Item container. Image is width: 100% -- it will fit relative to the container*/
    min-width: 20rem;
}

@media screen and (max-width: 850px) {
    .popular-items .item{           /*The Item container. Image is width: 100% -- it will fit relative to the container*/
        min-width: 15rem;
    }    
}

@media screen and (max-width: 500px) {
    .popular-items .item{           /*The Item container. Image is width: 100% -- it will fit relative to the container*/
        min-width: 12rem;
    }    
}