.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: var(--margin-sections);
}

.popular-title{
    color: #171717;
    font-size: 3rem;
    font-weight: 600;
}

.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.popular-item-container{
    display: flex;
    place-items: center;
}

.arrow-left, .arrow-right{
    object-fit: contain;
    height: fit-content;
    width: 2rem;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 5rem;
    cursor: pointer;
}
    .arrow-left{
        rotate: 180deg;
    } 
        .arrow-left:active,
        .arrow-right:active{
            transform: translateX(4px);
        }

.popular-items{
    margin: 5rem;
    display: flex;
    gap: 30px;
    width: 65vw;
    overflow-x: scroll;
    scroll-behavior: smooth; 
}

.popular-items::-webkit-scrollbar{
    display: none;
}

.popular-items  .item-img {
    width: 20rem;
}

@media screen and (max-width: 950px) {
    .popular-title{
        font-size: var(--phone-title-font);
        text-align: center;
    }
}