.offers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    background: linear-gradient(180deg, #b6acd2, #dda4e646 98%);
    padding: 0 20%;
    overflow: hidden;
}

.offers-left h1{
    font-size: clamp(3rem, 4vw, 4rem);
    font-family: "Playwrite AU SA", cursive;
    color: white;
    line-height: 5rem;
}

.offers-left p{
    font-size: clamp(.8rem, 1vw, 3rem);
    margin-top: 2.5rem;
    color: white;
    font-family: "Playwrite AU SA", cursive;
}
.offers button svg{
    fill: var(--main-color-theme);
}

.offers-left button{
    display: flex;
    align-items: center;
    padding: 1rem 4rem;
    border-radius: 40px;
    margin-top: 1.2rem;
    cursor: pointer;
    border: none;
    font-size: clamp(.8rem, 1vw, 3rem);
    color: var(--main-color-theme);
}

.offers-img{
    object-fit: contain;
    width: 20vw;
    min-width: 20rem;
}


@media screen and (max-width: 800px) {
    .offers{
        padding: 0 5%;
    }

    .offers-left p{
        text-align: start;
    }
}